<nz-layout>
  <!-- Sidebar -->
  <nz-sider nzCollapsible nzWidth="200px" nzTheme="dark" nzMode="inline">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item routerLink="/login">
        <span nz-icon nzType="login"></span>
        <span><strong>Login</strong></span>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Content Area -->
  <nz-layout>
    <nz-content style="padding: 24px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">
      Sidebar
    </nz-footer>
  </nz-layout>
</nz-layout>
